* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
     background-image: url("{% static 'homepage/images/bg.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Dark overlay for readability */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}

/* Login Box */
.login-box {
    position: relative;
    width: 350px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

.login-box h1 {
    color: #b11226;
    margin-bottom: 8px;
}

.tagline {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

/* Inputs */
.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

.login-box input:focus {
    border-color: #b11226;
}

/* Button */
.login-box button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #b11226;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.login-box button:hover {
    background: #8e0d1d;
}

/* Error message */
#error {
    margin-top: 10px;
    color: red;
    font-size: 14px;
}